<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<div class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">

  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">Let's get starter</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Game Intro</h1>

          <div class="">

            <!-- Your character box -->
            <div id="character-box">
              <h2 class="mt-4 text-white mb-4">Your Character:</h2>
              <div
                class="relative flex items-center space-x-3 rounded-lg ring-1 ring-white/30 bg-white/10 hover:bg-white/20 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                <div class="flex-shrink-0">
                  <img class="h-16 w-16 rounded-full border"
                    src="{{ icon }}"
                    alt="">
                </div>
                <div class="min-w-0 flex-1">
                  <a href="#" class="focus:outline-none">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <p class="text-sm font-medium text-white">{{name}}</p>
                    <p class="truncate text-sm text-indigo-300">{{race}}</p>
                    <p class="truncate text-sm text-gray-500">{{class}}</p>
                  </a>
                </div>
              </div>
            </div>
            <!-- Story summary -->
            <div id="story-summary">

            </div>
            <!-- Story choices -->
            <div id="story-chocies" class="flex justify-start mt-4 gap-4">
              <div class="rounded-md ring-1 text-white font-bold ring-white/50 bg-white/20 p-4">
                <p>
                  The Lost City of Eldoria
                </p>
              </div>
              <div class="rounded-md ring-1 text-white font-bold ring-white/50 bg-white/20 p-4">
                <p>
                  The Siege of Ironhold
                </p>
              </div>
              <div class="rounded-md ring-1 text-white font-bold ring-white/50 bg-white/20 p-4">
                <p>
                  The Rise of the Necromancer
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
        src="https://framerusercontent.com/images/ODMl5UT0GsCNhj7odZom7zZp4.jpg?scale-down-to=4096" alt="">
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div
          class="rounded-md ring-1 ring-white/50 bg-white/20 p-4 max-w-xl text-white/80 leading-7 text-gray-700 lg:max-w-lg">
          <p>The Cursed Crypt: In this dark and mysterious adventure, you will delve into an ancient crypt rumored to be
            haunted by vengeful spirits. You'll face deadly traps, solve puzzles, and confront undead creatures as you
            uncover the secrets hidden within the crypt. The tone of this adventure is eerie and suspenseful, with
            elements of horror.
          </p>
          <div class="max-w-4xl mx-auto">
            <a href="/game" aria-describedby="tier-startup"
              class="mt-8 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-indigo-500 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline-indigo-500">Play
              now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
