<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-fixed bg-cover bg-center"
  style="background-image: url('https://framerusercontent.com/images/NCSFeKsqytbzLT5ZeOD5A4sUmQU.jpg?scale-down-to=4096');">
  <section class="container mx-auto min-h-screen flex items-center justify-center">
    <div class="mx-auto max-w-2xl text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Welcome to RPGpt!</h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">Immerse yourself in a redefined Dungeons & Dragons gameplay,
        powered by AI</p>
      <div class="mt-8 flex items-center justify-center gap-x-6">
        <a href="/character-creation"
          class="rounded-md bg-indigo-500 px-5 py-2.5 text-md font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Get
          started</a>
        <a href="https://github.com/axelgrubba/rpgpt" target="_blank"
          class="text-sm font-semibold leading-6 text-white">Learn more
          <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </section>
</body>
